@font-face {
    font-family: 'Vazir';
    src: url('../Assets/Vazirmatn-Regular.woff2') format('woff2'),
         url('../Assets/Vazirmatn-Medium.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }