<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="signUpForm" class="mb-4">
        <!-- Name Field -->
        <div class="form-group mb-4">
          <label class="text-dark-emphasis">Name</label>
          <input type="text" class="form-control" formControlName="name" />
          @if (signUpForm.get('name')?.errors?.['forbiddenUserName']) {
          <span class="text-danger">User name already exists</span>
          }
        </div>

        <!-- Email Field -->
        <div class="form-group mb-4">
          <label class="text-dark-emphasis">Email address</label>
          <input type="email" class="form-control" formControlName="email" />
          @if (signUpForm.get('email')?.errors?.['forbiddenEmail']) {
            <span class="text-danger">This Email is Already Registered</span>
            }
        </div>
     <!-- Password  -->
     <div class="form-group mb-4">
      <label class="text-dark-emphasis">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>

        <!-- Gender Radio Buttons -->
        <div class="form-group mb-4">
          <label class="text-dark-emphasis">Select Your Gender</label>
          <br />
          @for (gender of genderList; track $index) {
          <p>
            <input
              type="radio"
              name="gender"
              [value]="gender"
              formControlName="gender"
            />
            {{ gender }}
          </p>
          } 
        </div>

        <!-- Address Group -->
        <div formGroupName="address" class="border p-3 mb-4">
          <label class="text-dark-emphasis">Address</label>

          <div class="form-group mb-3">
            <label>Street:</label>
            <input formControlName="street" class="form-control" />
          </div>

          <div class="form-group mb-3">
            <label>City:</label>
            <input formControlName="city" class="form-control" />
          </div>

          <div class="form-group">
            <label>ZIP Code:</label>
            <input formControlName="zip" class="form-control" />
          </div>
        </div>

        <!-- Hobbies Array -->
        <div formArrayName="hobbies" class="mb-4">
          <h5>Add Your Hobbies</h5>
          <button
            class="btn btn-primary mb-2"
            type="button"
            (click)="onAddHobbies()"
          >
            Add Hobby
          </button>

          @for (hobby of newHobbies.controls; track $index; let i = $index) {
          <div class="d-flex align-items-center mb-2">
            <input class="form-control" [formControlName]="i" />
            <button class="btn btn-sm btn-danger ms-2" (click)="removeHobby(i)">
              Remove
            </button>
          </div> }
        </div>
      </form>

      <!-- Submit Button -->
      <button
        type="button"
        class="btn btn-primary"
        (click)="onsubmit(signUpForm.value)"
      >
        Submit
      </button>
    </div>
  </div>
</div>
