<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand"> {{ "@RecipeBook" | translate }} </a>

    <!-- Toggler/collapsible Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/recipes" routerLinkActive="active" class="nav-link">{{
            "@Recipe" | translate
          }}</a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/shopping-list"
            class="nav-link"
            routerLinkActive="active"
            >{{ "@ShoppingList" | translate }}</a
          >
        </li>
      </ul>
      <!-- Signup or Login button with an icon inside it -->
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="text-light">settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="text-primary">
            {{ "@SaveData" | translate }}
          </button>
          <button mat-menu-item class="text-primary">
            {{ "@FetchData" | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-loading></app-loading>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
