/* You can add global styles to this file, and also import other style files */
@import './app/Assets/fonts.scss';
html, body { 
    height: 100%; 
    direction: rtl;
}
body { 
    margin: 0; 
    font-family: 'Vazir', sans-serif;
    direction: rtl;
 }

*{
    font-family: 'Vazir', sans-serif;
}
 
/* Toast styling */
.toast-success { background-color: #85f289; color: white; }
.toast-error { background-color: #f66e65; color: white; }
.toast-warning { background-color: #f1b54df9; color: white; }
.toast-info { background-color: #75bbf4; color: white; }

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  box-shadow: none !important;
  background-color: transparent !important;
}