<div class="row">
    <form class="example-form col-12" [formGroup]="ingrdsForm">
        <mat-form-field class="col-sm-4 me-3 form-field-app ms-4">
            <mat-label>{{'@IngredientName' | translate}}</mat-label>
            <input  matInput placeholder="{{'@Oil' | translate}}" value="Apple" formControlName="name" />
        </mat-form-field>
        <mat-form-field class="col-sm-2 form-field-app">
            <mat-label> {{'@Amount' | translate}}</mat-label>
            <input  matInput type="number" class="example-right-align" placeholder="0" formControlName="amount" />
        </mat-form-field>
    </form>
</div>
<div class="row">
    <div class="col-sm-12">
        @if (editMode) {
            <button class="btn btn-primary ms-3 btn-ingred" (click)="editIngredient(ingrdsForm.value)">{{'@Edit' | translate}} </button>
        } @else {
            <button class="btn btn-success ms-3 btn-ingred" (click)="addIngredient(ingrdsForm.value)"> {{'@Add' | translate}} </button>
        }
        @if (editMode) {
            <button  class="btn btn-danger ms-3 btn-ingred" (click)="deleteIngredient(ingrdsForm.value)">{{'@Delete' | translate}} </button>
        }
        <button class="btn btn-warning btn-ingred text-light" (click)="onClear()">{{'@Clear' | translate}} </button>
    </div>
</div>